*{
    margin: 0;
    padding: 0;
    font-family: 'pt_sansregular';
}
header.ust{
    background: url("images/overlay.png"),url("images/banner.jpg");
    position: relative;     /* dış kapsayıcı relative,içi absolute olacak */
    background-size: cover; /* ekranın tamamını kaplasın */
    width: 100%;
    height: 100vh;          /* ekranı üstten ve alttan kaplasın */
    margin: 0;
    padding: 0;
}
header h1{
    position: relative;
    font-size: 18px;
    margin-left: 30px;
    top: 50px;
    color: white;
    font-weight: 100;
    text-transform: uppercase; /* hepsi büyük harf olsun */
    font-family: 'Raleway', sans-serif;
}
header strong{
    font-weight: 700;
}
header a{
    text-decoration: none;  /* alt çizgisi kalktı */
    color: white;
    font-weight: 100;
}
header ul{
    list-style: none;  /* liste stilini kaldır */
    position: relative;
    float: right;       /* sağa yasla */
    right: 20px;        /* sağdan 20px boşluk bırak */
    top: 0;
}
header ul li{
    display: block;     /* yanyana gelmeleri için */
    padding: 30px;      /* iç boşlukları 30px olsun  */
    float: left;        /* soldan hizalanmaya  başlasınlar */

}
header ul li a{
    font-size: 18px;
    font-family: 'pt_sansregular';
    font-weight: 100;
    text-transform: uppercase;
    color: #d8d8d8;
    transition: 0.2s;    /* fare üzerine geldiğinde 2sn yavaş hareket etsin */
}
header ul li a:hover{
    color: white;
}
header section {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}
#banner h2{
    font-size: 40px;
    color: aliceblue;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;        /* alttaki yazıdan biraz ayrılsın */
}
#banner p{
    color: #aaa;
    font-size: 22px;
    margin-bottom: 40px;
    text-transform: uppercase;
    line-height: 40px;          /* satırlar arası boşluk */
    letter-spacing: 2px;        /* harfler arası boşluk */
    font-weight: 100;
}
#banner a{
    padding: 25px 35px;
    background-color: #f32853;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

                     /* BÖLÜM 2 */

#bolum2{
    width: 1000px;           /* sayfayı tam kaplamayacak */
    margin: 0 auto;          /* ortalansın */
    padding: 50px 0;         /* üst ve alttan 50px,sağ soldan 0 px boşluk */
}
.kapsayici{
    width: 1000px;
    padding: 0 auto;
}
#bolum2 .kapsayici .sol{
    width: 400px;
    float: left;
    padding-left: 70px;
}
#bolum2 .sol h2{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #484848;
    line-height: 60px;
}
#bolum2 .sol p{
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;       /* üst satırla arasındaki boşluk */
    font-size: 20px;
    font-weight: 40;
    line-height: 40px;
    opacity: 0.4;           /* yazının rengini soldurma */
}
#bolum2 .kapsayici .sag{
    width: 400px;
    float: right;
    padding-right: 70px;
}
#bolum2 .sag p{
    opacity: 0.7;
    line-height: 30px;
    margin-bottom: 20px;
}
.temizle{
    clear: both;      /* bi üstteki section'ın bittiği hattan itibaren diğer section'ın başlamasını sağlar. */
}

                                /* BÖLÜM 3 */

#bolum3{
    width: 100%;           
    margin: 0 auto;          
    padding: 50px 0; 
    background: #f6f6f6;
    text-align: center;     /* yazılar ortalandı */
}
#bolum3 h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #484848;
}
#bolum3 p{
    margin: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #111;
}
#bolum3 .resim{
    width: 500px;
    float: left;
    background: #fff;
    margin: 50px 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
}
#bolum3 img{
    width: 500px;
    margin: 0;
}
#bolum3 .kapsayici2{
    width: 1090px;    /* iç boşluklar da dahil */
    margin: 0 auto;
}
#bolum3 ul{
    list-style: none;
}
#bolum3 ul li{
    display: inline-block;
}
#bolum3 ul li a{
    text-decoration: none;
    font-size: 20px;
    display: block;             /* kutu görünümü için */
    padding: 20px 50px ;        /* buton haline gelmesi için iç boşluk */  
    background: #f32853;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}
#bolum3 ul li:nth-child(2) a{       /* li içindeki 2.butonun rengini değiştir. */
    background-color: #323037;
}

                            /* BÖLÜM 4 */

#bolum4{
    width: 100%;
    padding-top: 50px;
}
#bolum4 h2{
    margin-left: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #484848;
    margin-bottom: 30px;
}
#bolum4 h2+p{     /* h2 den sonra gelen ilk p */
    font-size: 18px;
    color: #666;
    margin-left: 50px;
    margin-bottom: 50px;
}
#bolum4 .kapsayici3{
    width: 1000px;    /* iç boşluklar da dahil */
    margin: 0 auto;
}
#bolum4 .bolumler{
    width: 460px;
    float: left;
    margin-bottom: 50px;
    margin-right: 20px;
}
#bolum4 .bolumler .kucukresim{
    float: right;
    width: 130px;
    margin: 10px;
}
#bolum4 .bolumler .kucukresim img{
    border: 5px solid #b0b0b0;
    border-radius: 100%;     /* kenarları tam yuvarlak olsun */
    width: 130px;
}
#bolum4 .bolumler .yazi{
    float: left;
    width: 290px;           /* resmin border px'i ya da margin'ler dahil hesap et */
    text-align: right;
    padding: 10px;
    line-height: 25px;
}
#bolum4 .bolumler .yazi h3{
    text-align: right;
    font-size: 18px;
    color: #484848;
    margin-bottom: 10px;
}
#bolum4 .bolumler .yazi h3+p{
    font-size: 14px;
    color: #aaa;
    margin-bottom: 20px;
}
#bolum4 .bolumler:nth-child(2n) .yazi{
    text-align: left;
}
#bolum4 .bolumler:nth-child(2n) .yazi h3{
    text-align: left;
}
#bolum4 .bolumler:nth-child(2n) .kucukresim {
    float: left;
}
#bolum4 .bolumler .yazi p:nth-child(3){
    color: #666;
    font-size: 18px;
}

                    /* BÖLÜM 5 */

#bolum5{
    width: 100%;
    height: 350px;       /* arkadaki resim ekranın tamamını kaplamadığı için bir height değeri verdik*/
    background: url("images/overlay.png"),url("images/banner.jpg");
    background-attachment: fixed;
    background-size: cover;  /* ekranı tam kaplaması için */
    position: relative;
}
#bolum5 .icerik{
    position: absolute;   /* ekranın tam ortasında olması için */
    width: 100%;
    top: 50%;
    transform: translateY(-50%);  /* ortala */
    text-align: center;
}
#bolum5 .icerik h2{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}
#bolum5 .icerik p{
    color: #aaa;
    font-size: 18px;
    margin-bottom: 50px;
}
#bolum5 .icerik a{
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    padding: 20px 35px;
    background-color: #f32853;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.2s;      /* fare üzerine ne kadar hızla gelsin */
}
#bolum5 .icerik a:hover{
    background-color: crimson;
}
footer{
    width: 100%;
    height: 350px;
    text-align: center;
}
footer .sosyal{
    text-align: center;
    position: relative;
    top: 50%;     /* yukardan %50 boşluk ver */
    transform: translateY(-50%);  /* y ekseninde ortala */
}
footer .sosyal a{
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;   /* diğer iconlar arası boşluk */
    margin-bottom: 30px;
}
footer a[title="facebook"]::before{  /* title'ı 'facebook' olanın önüne iconu ekle */
    content: '';    /* içeriği boş olsun */
    background: url("icons/facebook.png") no-repeat;
    width: 45px ;
    height: 42px;
    display: inline-block;
}
footer a[title="twitter"]::before{
    content: '';    /* içeriği boş olsun */
    background: url("icons/twitter.png") no-repeat;
    width: 45px ;
    height: 42px;
    display: inline-block;
}
footer a[title="linkedin"]::before{
    content: '';    /* içeriği boş olsun */
    background: url("icons/linkedin.png") no-repeat;
    width: 45px ;
    height: 42px;
    display: inline-block;
}
footer ul{
    list-style: none;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
footer ul li{
    display: inline-block;
    padding: 2px 25px;
}
footer ul li p{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: darkgray;
}
footer ul li:nth-child(-n+2){     /* kenar çizgileri eklendi */
    border-right: 2px solid #b4b1b1;
}